<html>

    

    

    <H1><%= username %>'s photos</H1>
    <form method="POST" action="/uploadphotos/<%= username %>/<%= userphoto %>"   enctype="multipart/form-data">
        <input type="file" name="image">
        <input type="submit" value="Upload New">    

    </form>
    <br>
    <table width=200 height=200>
        
        <tr>
            <td><img src="/images/<%= userphoto %>"  style="width:100%" width></td>
        </tr>
        <% all.forEach(function (a) { %>
        <tr>
            <td><img src="/images/<%= a.Image %>"   style="width:40%"></td>
        </tr>
       
    </table>

    <% }) %>


    

</html>