<Html>

    <style>

     
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow:hidden;
        background-color:rgb(7, 28, 90);
      }

      #bottom{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow:hidden;
        background-color:rgb(170, 184, 226);
    
      }

      .texts{
        font-family: Arial, Helvetica, sans-serif;
        
      }
  

      li{
        float: left;
        padding-top: 10px;
      }

      li a{
        display:block;
        color:white;
        text-align: center;
        text-decoration: none;
        padding:14px 16px;
      }

      #alogo{
        font-size: 30;
        margin-top: -10px;
      }

      form{
        margin-right: 0;
      }

      li a:hover{
        background-color: rgb(4, 39, 145);
      }
      #active {
        background-color: rgb(4, 39, 145);
      }
   
      #box1{
        background-color: royalblue;
        z-index: -1;
        margin-top: 20;
        width:100%;
        height:35%;
        position: relative;
      }
      #box2{
        margin-left:40 ;
        margin-top: 5px;
        height: fit-content;
        width: fit-content;
        padding: 5px;
        text-indent: 10px;
        position: relative;
      }
      #box3{
        position: relative;
        left: 40px;
        height:35%;
        width: 100%;
      }
      img{
        margin-top: 30;
        margin-left: 40;
        width: 200px;
        height: inherit;
      }

      .navtext{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
      }

      .search{
        padding: 5px;
        padding-left: 10px;
        width:15cm ;
        height: 40px;
        font-size: medium;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-color: black;
        vertical-align: middle;
      }
      #button{
            background-color: royalblue;
            color: white;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            height:40px;
            width: 100px;
            border: none;
            font-size: 20px;
            margin-right: 10px;
        }

       </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <br>

     <% username.forEach(function (user) { %>

     <ul>
       <li><a href="#" class="navtext" id="alogo">SociaBlock</a></li>
       <li><a href="#" class="navtext" id="active">My Profile</a></li>
       <li><a href="#" class="navtext" style="float: right">Add Post</a></li>
       <li style="float: right;vertical-align: middle" ><form action="/search" method="GET" style="float:right">
              <input type=text name="searchuser" placeholder="Search Friend" class="search" required>
              <input type="submit" value="Search" id="button">
              </form>
       </li>

     </ul>

     <div id="box1"></div>
      <img src="/images/<%= user.Profiles %>" style="position:relative;margin-top: -200px">
      <form method="POST" action="/upload/<%= user.Email %>"   enctype="multipart/form-data">
        <input type="file" name="image" required>
        <input type="submit" value="edit"></form>
        <div id="box2">  
          <h1 class="texts"><%= user.FName %>  
              <%= user.LName %></h1>
          <Table class="texts">
            <tr>
              <td>Email : </td>
              <td><%= user.Email %></td>
            </tr>
            <tr>
              <td>Age : </td>
              <td>56</td>
            </tr>
            <tr>
              <td>Gender : </td>
              <td>Male </td>
            </tr>
            <tr>
              <td>Nationality : </td>
              <td>American </td>
            </tr>
            <tr>
              <td>Occupation : </td>
              <td>Actor</td>
            </tr>

          </Table>      
    
        </div>

        <div id="box3">
          <ul>
            <li><a href="/photos/<%= user.Email %>/<%= user.Profiles %>"   class="navtext" target="inprofile">Photos</a></li>
            <li><a href="/myposts/<%= user.Email %>"   class="navtext" target="inprofile">Posts</a></li>
            <li><a href="/photos/<%= user.FName %>/<%= user.Profiles %>"   class="navtext">About</a></li>
          </ul>
          <iframe   width="100%" height="200%"   style="border:none" name="inprofile"></iframe>
        </div>

        <div id="box4">
          
        </div>
          <% }) %>



    
</Html>